{% extends "base.html" %}

{% block head %}
<script src="static/ws.js"></script>
{{ super() }}
{% endblock %}

{% block title %}Events{% endblock %}

{% block content %}
<h1>Pipeliner events watcher</h1>
<ul id="states">
</ul>
{% endblock %}
